APP_NAME="GAZ ARMORY"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=armory_aa
DB_USERNAME=armory_aa
DB_PASSWORD=
DB_TIMEZONE=Europe/Moscow
SESSION_DRIVER=file
QUEUE_CONNECTION=database
SESSION_SECURE_COOKIE=false
SANCTUM_STATEFUL_DOMAINS=localhost:5173
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:8000/auth/discord/callback
DISCORD_WEBHOOK_URL=
